.header-container {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.10);
}